#one-flash-gallery-image-massedit-form .form-checkboxes, 
#one-flash-gallery-addimages-form .form-checkboxes, 
#one-flash-gallery-list-images-form .form-checkboxes {
	display: none;
}

.fgallery_url {
	width: 75%;
	float: left;
}

.fgallery_url_wrap img {
	float: left;
}

.add_url {
	display: block;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: url('../images/add_new.png') no-repeat;
}

.delete_url {
	float: left;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: url('../images/delete.png') no-repeat;
}

.fgallery_image {
	width: 200px;
	float: left;
}

.clear {
	display: block;
	clear: both;
}

.fgallery_action {
	display: block;
}

#one-flash-gallery-image-massedit-form, #one-flash-gallery-list-images-form {
	float: left;
}

.fgallery_actions {
	float: right;
	width: 25%;
}